* {
  box-sizing: border-box;
}




.eggdiv {
  width: 20px;
  height: auto;
  align-items: center;
  padding-bottom: 20px;
}


/*not used*/





/* @keyframes App-logo-spin { 
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/


.App-link {
  font-family: “pixelfont”;
  color: deeppink;

  h1 {
    font-size: 95px;
  }

  h2 {
    font-size: 50px;
  }

  padding-left: 50px;
  line-height: 1;

  p {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: middle;
  }
}



/*not used*/

.App-hyperlink {
  text-decoration: none;
  overflow: hidden;
  color: deeppink;
  text-shadow: rgb(116, 253, 255) 1px 0 10px;

  &:hover {
    color: rgb(116, 253, 255);
    text-shadow: deeppink 1px 0 10px;
  }

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg_history {
  background-image: url("./images/history_bg.svg");
  min-height: 200px;
  font-size: 40px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: rgb(116, 253, 255) 2px 0 10px;
  box-shadow: 15px 5px 50px rgb(248, 165, 209);
}




.image_history {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid;
  border-image: url('./images/egg.svg') 30 round;
  box-shadow: 0px 0px 10px 20px rgba(116, 253, 255, 0.3);
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}